/* [project]/components/atoms/button/buttonStyle.module.scss.module.css [app-client] (css) */
.buttonStyle-module-scss-module__y2DP2W__base {
  height: calc(var(--spacing, .25rem) * 12);
  min-width: 135px;
  padding-inline: calc(var(--spacing, .25rem) * 5);
  --tw-font-weight: var(--font-weight-bold, 700);
  font-weight: var(--font-weight-bold, 700);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(.4, 0, .2, 1)));
  transition-duration: var(--tw-duration, var(--default-transition-duration, .15s));
  --tw-duration: .2s;
  --tw-ease: var(--ease-in, cubic-bezier(.4, 0, 1, 1));
  transition-duration: .2s;
  transition-timing-function: var(--ease-in, cubic-bezier(.4, 0, 1, 1));
  border-radius: 90px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (min-width: 48rem) {
  .buttonStyle-module-scss-module__y2DP2W__base {
    min-width: 150px;
  }
}

@media (min-width: 64rem) {
  .buttonStyle-module-scss-module__y2DP2W__base {
    height: calc(var(--spacing, .25rem) * 16);
  }
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary {
  height: calc(var(--spacing, .25rem) * 12);
  gap: calc(var(--spacing, .25rem) * 2);
  border-style: var(--tw-border-style);
  padding-inline: calc(var(--spacing, .25rem) * 6);
  font-size: var(--text-lg, 1.125rem);
  line-height: var(--tw-leading, var(--text-lg--line-height, calc(1.75 / 1.125)));
  --tw-font-weight: var(--font-weight-normal, 400);
  font-weight: var(--font-weight-normal, 400);
  color: var(--color-white, #fff);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(.4, 0, .2, 1)));
  transition-duration: var(--tw-duration, var(--default-transition-duration, .15s));
  --tw-duration: .2s;
  --tw-ease: var(--ease-in, cubic-bezier(.4, 0, 1, 1));
  transition-duration: .2s;
  transition-timing-function: var(--ease-in, cubic-bezier(.4, 0, 1, 1));
  background-color: #e30513;
  border-width: 1px;
  border-color: #e30513;
  border-radius: 100px;
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary:hover {
  background-color: #b8040f;
  border-color: #b8040f;
}

.buttonStyle-module-scss-module__y2DP2W__heroDark {
  height: calc(var(--spacing, .25rem) * 12);
  gap: calc(var(--spacing, .25rem) * 2);
  background-color: #ffffff29;
  border-radius: 100px;
}

@supports (color: color-mix(in lab, red, red)) {
  .buttonStyle-module-scss-module__y2DP2W__heroDark {
    background-color: color-mix(in oklab, var(--color-white, #fff) 16%, transparent);
  }
}

.buttonStyle-module-scss-module__y2DP2W__heroDark {
  padding-inline: calc(var(--spacing, .25rem) * 6);
  font-size: var(--text-lg, 1.125rem);
  line-height: var(--tw-leading, var(--text-lg--line-height, calc(1.75 / 1.125)));
  --tw-font-weight: var(--font-weight-normal, 400);
  font-weight: var(--font-weight-normal, 400);
  color: var(--color-white, #fff);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function, cubic-bezier(.4, 0, .2, 1)));
  transition-duration: var(--tw-duration, var(--default-transition-duration, .15s));
  --tw-duration: .2s;
  --tw-ease: var(--ease-in, cubic-bezier(.4, 0, 1, 1));
  transition-duration: .2s;
  transition-timing-function: var(--ease-in, cubic-bezier(.4, 0, 1, 1));
}

.buttonStyle-module-scss-module__y2DP2W__heroDark:hover {
  background-color: var(--color-white, #fff);
  color: #e30513;
}

.buttonStyle-module-scss-module__y2DP2W__heroDark:hover svg {
  filter: brightness(0) saturate() invert(11%) sepia() saturate(5679%) hue-rotate(350deg) brightness(87%) contrast(110%);
}

@keyframes buttonStyle-module-scss-module__y2DP2W__hero-arrow-diagonal {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  40% {
    opacity: 0;
    transform: translate(12px, -12px);
  }

  41% {
    opacity: 0;
    transform: translate(-12px, 12px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary svg, .buttonStyle-module-scss-module__y2DP2W__heroDark svg {
  transition: transform .25s, opacity .25s;
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary:hover svg, .buttonStyle-module-scss-module__y2DP2W__heroDark:hover svg {
  animation: .5s ease-in-out forwards buttonStyle-module-scss-module__y2DP2W__hero-arrow-diagonal;
}

.buttonStyle-module-scss-module__y2DP2W__wFull {
  width: 100%;
}

.buttonStyle-module-scss-module__y2DP2W__xl {
  width: 100%;
  height: 60px;
}

.buttonStyle-module-scss-module__y2DP2W__lg {
  height: calc(var(--spacing, .25rem) * 12);
}

@media (min-width: 64rem) {
  .buttonStyle-module-scss-module__y2DP2W__lg {
    height: 60px;
  }
}

.buttonStyle-module-scss-module__y2DP2W__lg .buttonStyle-module-scss-module__y2DP2W__btnStyle {
  font-size: var(--text-base, 1rem);
  line-height: var(--tw-leading, var(--text-base--line-height, calc(1.5 / 1)));
}

@media (min-width: 64rem) {
  .buttonStyle-module-scss-module__y2DP2W__lg .buttonStyle-module-scss-module__y2DP2W__btnStyle {
    font-size: var(--text-xl, 1.25rem);
    line-height: var(--tw-leading, var(--text-xl--line-height, calc(1.75 / 1.25)));
  }
}

.buttonStyle-module-scss-module__y2DP2W__md {
  height: calc(var(--spacing, .25rem) * 12);
}

.buttonStyle-module-scss-module__y2DP2W__md .buttonStyle-module-scss-module__y2DP2W__btnStyle {
  font-size: var(--text-base, 1rem);
  line-height: var(--tw-leading, var(--text-base--line-height, calc(1.5 / 1)));
}

@media (min-width: 64rem) {
  .buttonStyle-module-scss-module__y2DP2W__md .buttonStyle-module-scss-module__y2DP2W__btnStyle {
    font-size: var(--text-xl, 1.25rem);
    line-height: var(--tw-leading, var(--text-xl--line-height, calc(1.75 / 1.25)));
  }
}

.buttonStyle-module-scss-module__y2DP2W__xs {
  height: calc(var(--spacing, .25rem) * 9);
}

.buttonStyle-module-scss-module__y2DP2W__xs .buttonStyle-module-scss-module__y2DP2W__btnStyle {
  font-size: var(--text-sm, .875rem);
  line-height: var(--tw-leading, var(--text-sm--line-height, calc(1.25 / .875)));
  --tw-font-weight: var(--font-weight-normal, 400);
  font-weight: var(--font-weight-normal, 400);
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

/*# sourceMappingURL=components_atoms_button_buttonStyle_module_scss_module_css_bad6b30c._.single.css.map*/