/* [project]/components/atoms/button/buttonStyle.module.scss.module.css [app-client] (css) */
.buttonStyle-module-scss-module__y2DP2W__base {
  border-radius: 90px;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  height: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 700;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
  display: flex;
}

@media (min-width: 768px) {
  .buttonStyle-module-scss-module__y2DP2W__base {
    min-width: 150px;
  }
}

@media (min-width: 1024px) {
  .buttonStyle-module-scss-module__y2DP2W__base {
    height: 4rem;
  }
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary {
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(227 5 19 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(227 5 19 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  height: 3rem;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  border-radius: 100px;
  gap: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary:hover {
  --tw-border-opacity: 1;
  border-color: rgb(184 4 15 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(184 4 15 / var(--tw-bg-opacity, 1));
}

.buttonStyle-module-scss-module__y2DP2W__heroDark {
  --tw-text-opacity: 1;
  height: 3rem;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  background-color: #ffffff29;
  border-radius: 100px;
  gap: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4, 0, 1, 1);
}

.buttonStyle-module-scss-module__y2DP2W__heroDark:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(227 5 19 / var(--tw-text-opacity, 1));
}

.buttonStyle-module-scss-module__y2DP2W__heroDark:hover svg {
  filter: brightness(0) saturate() invert(11%) sepia() saturate(5679%) hue-rotate(350deg) brightness(87%) contrast(110%);
}

@keyframes buttonStyle-module-scss-module__y2DP2W__hero-arrow-diagonal {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  40% {
    opacity: 0;
    transform: translate(12px, -12px);
  }

  41% {
    opacity: 0;
    transform: translate(-12px, 12px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary svg, .buttonStyle-module-scss-module__y2DP2W__heroDark svg {
  transition: transform .25s, opacity .25s;
}

.buttonStyle-module-scss-module__y2DP2W__heroPrimary:hover svg, .buttonStyle-module-scss-module__y2DP2W__heroDark:hover svg {
  animation: .5s ease-in-out forwards buttonStyle-module-scss-module__y2DP2W__hero-arrow-diagonal;
}

.buttonStyle-module-scss-module__y2DP2W__wFull {
  width: 100%;
}

.buttonStyle-module-scss-module__y2DP2W__xl {
  width: 100%;
  height: 60px;
}

.buttonStyle-module-scss-module__y2DP2W__lg {
  height: 3rem;
}

@media (min-width: 1024px) {
  .buttonStyle-module-scss-module__y2DP2W__lg {
    height: 60px;
  }
}

.buttonStyle-module-scss-module__y2DP2W__lg .buttonStyle-module-scss-module__y2DP2W__btnStyle {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  .buttonStyle-module-scss-module__y2DP2W__lg .buttonStyle-module-scss-module__y2DP2W__btnStyle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.buttonStyle-module-scss-module__y2DP2W__md {
  height: 3rem;
}

.buttonStyle-module-scss-module__y2DP2W__md .buttonStyle-module-scss-module__y2DP2W__btnStyle {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 1024px) {
  .buttonStyle-module-scss-module__y2DP2W__md .buttonStyle-module-scss-module__y2DP2W__btnStyle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.buttonStyle-module-scss-module__y2DP2W__xs {
  height: 2.25rem;
}

.buttonStyle-module-scss-module__y2DP2W__xs .buttonStyle-module-scss-module__y2DP2W__btnStyle {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

/*# sourceMappingURL=components_atoms_button_buttonStyle_module_scss_module_218944eb.css.map*/