@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins.scss";

body {
  background: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

.container {
  padding-inline: 20px;
  margin: 0 auto;

  @media (min-width:1400px) {
    max-width: 1280px;
  }
}

// NexaRust Font 
@font-face {
  font-family: 'NexaRust';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/NexaRustSlab-Trial-Black3.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'NexaRust';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/NexaRustSlab-Trial-BlackShadow3.woff') format('woff');
  font-display: swap;
}

// Montserrat Font 
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: "NexaRust", sans-serif;
}

.dotted {
  fill: rgba(128, 128, 128, 0.74);
}

// Image Responsive 
.responsive-image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.responsive-image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

// Custom Scrollbar 
.scrollbar-theme1::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-theme1::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-theme1::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 999px;
}

.scrollbar-theme1::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.45);
}

.theme-orange::-webkit-scrollbar-thumb {
  background: orangered;
}

// Swiper Pagination Bullet Styles 
.swiper-pagination {
  bottom: 10px !important;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background: #CFCEC6 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #FF6B35 !important;
  width: 80px !important;
}

// Swiper Next & Perv button Styles
.navigation-style1 {

  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    background: white;
    border-radius: 100%;
  }

  .swiper-navigation-icon {
    width: 20px;
    height: 20px;
  }
}